* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.dancing-script{
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.playfair-display{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.playfair-display-regular{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.noto-sans-mongolian-regular{
  font-family: "Noto Sans Mongolian", sans-serif;
  font-weight: 500;
  font-style: normal;

}